
/* for sidenav to take a whole page */
html, body { 
    margin: 0;
    height: 100%;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
.container{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
}
